.chevron {
    transition: transform 0.2s ease;
    display: inline-block;
  }
  .rotate {
    transform: rotate(90deg);
  }
  
  
  
body{
  background: black;
  color:white;
}



h1{
  border: solid red 5px;
  border-radius: 15px;
  padding:15px;
  background-color: indigo;
  justify-content: center;
}

h2 {
margin-top: 20px;
font-size: 1.5rem;
color: #ccc;
}



button {
padding: 12px;
font-size: 0.9rem;
font-weight: bold;
background-color: white;
color: black;
border: none;
border-radius: 6px;
cursor: pointer;
margin: 0;
text-align: left;
width: 100%;
max-width: 300px;
}

.button-group button {
margin: 5px; /* remove if needed, since it's already in button */
}


@media (max-width: 600px) {
.button-group {
align-items: stretch;
}
}


* {
box-sizing: border-box;
}


footer {
text-align: center;
padding: 20px;
font-size: 14px;
color: #aaa;
border-top: 1px solid #333;
margin-top: 50px;
}
